#section1{
    background-color: rgb(9, 122, 24);
}

#section2{
    background-color: rgb(101, 153, 255);
}

#section3{
    background-color: rgb(255, 153, 0);
}

.section{
    text-align: center;
    color: white;
}
