#section1{
    background-image: url("portland.jpg");
    background-repeat: no-repeat;
    width:100%;
}

#section2{
    background-image: url("vienna.jpg");
    background-repeat: no-repeat;
    width:100%;
}

#section3{
    background-image: url("cork.jpg");
    background-repeat: no-repeat;
    width:100%;
}

.section{
    text-align: center;
    color: white;
}

body {margin:0;
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      background-color:#DFECFF;
}

.button {
    background-color: #f44336; /* Red */ 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}